/*
    File: background_animation.css
    Purpose: Floating squares background animation for game and lobby pages
*/

.background-squares {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  background-color: var(--youth-bg, #f5f7fa);
}

.background-squares .white { 
  height: 100vh;
  position: relative;
}

.background-squares .white:before { 
    z-index: 10;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60vh;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
}

.background-squares .white:after { 
    z-index: 10;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background-image: linear-gradient(0deg, #EBEBEB 0%, rgba(235,235,235,0.00) 100%);
}

.background-squares .squares {
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.background-squares .square {
  animation: squares 9.5s linear infinite;
  align-self: flex-end;
  width: 1em;
  height: 1em;
  transform: translateY(100%);
  background: #ebebeb;  
}

.background-squares .square:nth-child(1) {
    animation-delay: 0s;
}

.background-squares .square:nth-child(2) { 
    height: 1.5em;  
    width: 3em;   
    animation-delay: 1s;
    animation-duration: 17s; 
    filter: blur(5px);
}

.background-squares .square:nth-child(3) { 
    height: 2em;    
    width: 1em;   
    animation-delay: 1.5s;
    animation-duration: 8s; 
    filter: blur(2px);
}

.background-squares .square:nth-child(4) { 
    height: 1em;    
    width: 1.5em; 
    animation-delay: 0.5s;
    filter: blur(3px);
    animation-duration: 13s;
}

.background-squares .square:nth-child(5) { 
    height: 1.25em; 
    width: 2em;   
    animation-delay: 4s;
    filter: blur(2px);
    animation-duration: 11s;
}

.background-squares .square:nth-child(6) { 
    height: 2.5em;  
    width: 2em;   
    animation-delay: 2s;
    filter: blur(1px);
    animation-duration: 9s;
}

.background-squares .square:nth-child(7) { 
    height: 5em;    
    width: 2em;   
    filter: blur(2.5px);
    animation-duration: 12s;
}

.background-squares .square:nth-child(8) { 
    height: 1em;    
    width: 3em;   
    animation-delay: 5s;
    filter: blur(6px);
    animation-duration: 18s;
}

.background-squares .square:nth-child(9) {
    height: 1.5em; 
    width: 2em; 
    filter: blur(0.5px);
    animation-duration: 9s;
}

.background-squares .square:nth-child(10) {
    height: 3em;
    width: 2.4em;
    animation-delay: 6s;
    filter: blur(0.5px);
    animation-duration: 12s;
}

 @keyframes squares { 
  from { transform: translateY(100%) rotate(-50deg); }
  to   { transform: translateY(calc(-100vh - 100%)) rotate(20deg); }
}
